body{
	margin:0; position: relative;
}

img{
	width: 100%; display: block;
}

a{
	text-decoration: none;
}

.button{
	position: absolute; bottom: 5vw; left:5vw; color: white; font-weight: 200; font-size: 1.5vw; font-family: 'Oswald';
}

@media screen and (max-width: 600px) {
	.button{
		font-size: 5vw;
	}
}