html, body, *{
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #3D3E40;
}

:root {
  --animate-duration: 0.5s;
}

.flex-container {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: #F3F7FE;
}

.item{
	flex: 1 0 auto;
	height: 65%;
	margin-right: 20%; 
	width: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 13%;
	margin-top: 17%;
}

.last{
	margin-right: 23vw;
}

.about-me{
	flex: 1 0 auto;
	height: 65%;
	margin-right: 15vw; 
	width: 30vw;
	margin-bottom: 13%;
	margin-top: 17%;
	display: inline-flex; 
	flex-direction: column;
	height: auto;
}

.name{
	font-family: 'Abril Fatface';
	font-size: 15vh;
	color: transparent;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
  	height: auto;
}

.text{
	font-family: 'Raleway';
	font-size: 1.5vw;
	text-align: left;
	height: auto;
}

.social{
	margin-top: 5vh;
	height: auto;
	display: inline-flex; 
	flex-direction: row;
}

.link{
	font-family: 'Raleway';
	font-size: 1.5vw;
	text-align: left;
	margin-right: 2vw;
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;
}

.my-photo{
	flex: 1 0 auto;
	width: 50vw;
	height: auto;
	margin-top: 10vh;
}

.title{
	position: absolute;
	left: 10vh;
	top:0;
	font-size: 16vh;
	color: transparent;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
  	font-family: 'Abril Fatface';
  	opacity: 0;
  	height: auto;
  	z-index: 10;
}

.project-title{
	position: absolute;
	line-height: 9vh;
	top: 30%;
    left: 15%;
	font-size: 7vh;
	font-family: 'Abril Fatface', cursive;
	text-align: right;
	color: white;
	mix-blend-mode: difference;
	height: auto;
	opacity: 0;
	z-index: 10;
}

.project-number{
	position: absolute;
	bottom: 0%;
    right:25%;
	font-size: 30vh;
	font-family: 'Abril Fatface', cursive;
	text-align: right;
	height: auto;
	color: white;
	mix-blend-mode: difference;
	z-index: 10;
	opacity: 0;
}

.project-type{
	position: absolute;
	top: 85%;
    left: 23%;
	font-size: 3vh;
	font-family: 'Abril Fatface', cursive;
	text-align: right;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
	color: white;
	mix-blend-mode: difference;
	opacity: 0;
	height: auto;
	z-index: 10;
}

@media only screen and (max-width: 600px) {
  .title{left:5vh;font-size:10vh;}
  .project-title{line-height: 6.5vh;left:5vw;font-size: 5vh; top:20vh;}
  .project-type{left:12%;}
  .about-me{margin-left: 10vw;width: 70vw; margin-right: 10vw;}
  .name{font-size:10vh;}
  .text{font-size: 4vw;}
  .link{font-size: 4vw;}
  .my-photo{width: 0;}
  .project-number{bottom: 0;right: 10vw;font-size: 20vh;}
}